In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pyodbc

# Connect to your local SQL Server
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=localhost;DATABASE=synthwave_db;Trusted_Connection=yes;')

In [ ]:
query = """
SELECT
  CASE
    WHEN Salary < 50000 THEN 'Junior'
    WHEN Salary BETWEEN 50000 AND 65000 THEN 'Mid-Level'
    ELSE 'Senior'
  END AS SalaryTier,
  COUNT(*) AS EmployeeCount
FROM EmployeeSalary
GROUP BY 
  CASE
    WHEN Salary < 50000 THEN 'Junior'
    WHEN Salary BETWEEN 50000 AND 65000 THEN 'Mid-Level'
    ELSE 'Senior'
  END
"""

df = pd.read_sql(query, conn)
df

In [ ]:
colors = ['#FF69B4', '#87CEFA', '#9370DB']

df.plot(kind='pie', y='EmployeeCount', labels=df['SalaryTier'],
        autopct='%1.1f%%', colors=colors, figsize=(6,6), legend=False)

plt.title('Employee Distribution by Salary Tier', fontsize=14)
plt.ylabel('')
plt.tight_layout()
plt.show()